<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <div class="row">
          <div class="col-xs-12 col-sm-9">
            <p class="lead">Seus dados:</p>
          </div>
          <!-- validador email inicio -->
          <div class="col-sx-12 col-sm-3">
            <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> {{emailError}}</span>
          </div>
          <!-- validador email fim -->
    </div>

    <form [formGroup]="orderForm" novalidate>
      <!-- inicio row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>

        <!-- <control name inicio> -->
          <div class="col-sm-5 col-xs-12">
            <mt-input-container errorMessage="Campo obrigatorio e no minimo 5 caracteres" label="Endereco">
              <input class="form-control" formControlName="name"  autocomplete="off" placeholder="Nome">
            </mt-input-container>
          </div>
        <!-- </control name fim> -->

        <!-- <control email inicio> -->
          <div class="col-sm-3 col-xs-6">
            <mt-input-container errorMessage="Email invalido" label="E-mail">
              <input class="form-control" formControlName="email" autocomplete="off" placeholder="E-mail">
            </mt-input-container>
          </div>
        <!-- </control email fim> -->

        <!-- <control email inicio> -->
            <div class="col-sm-3 col-xs-6">
                <mt-input-container errorMessage="Email invalido" label="E-mail">
                  <input class="form-control" formControlName="emailConfirmation" autocomplete="off" placeholder="Confirmação de e-mail">
                </mt-input-container>
              </div>
            <!-- </control email fim> -->

      </div>
      <!-- final row -->

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-5 col-xs-12">
          <mt-input-container errorMessage="Endereco obrigatorio e no minimo 5 caracteres" label="Endereco">
            <input class="form-control" formControlName="address"  autocomplete="off" placeholder="Endereco">
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="brigatorio e somente numeros" label="Numero">
            <input class="form-control" formControlName="number" autocomplete="off" placeholder="Numero">
          </mt-input-container>
        </div>

        <div class="col-sm-4 col-xs-6">
          <mt-input-container>
            <input class="form-control" formControlName="optionalAddress" autocomplete="off" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)"></mt-order-items>

        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">

            <mt-radio [options]="paymentOptions" formControlName="paymentOption" ></mt-radio>

          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>

        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right" [disabled]="!orderForm.valid || cartItems().length === 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>